<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search-image</title>
  </head>
  <body>
    <form class="search-form" id="search-form">
      <input
        type="text"
        class="input__search-form"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
        required
      />
      <button type="submit" class="btn-submit">Search</button>
    </form>
    <div class="gallery"></div>
    <div class="container pagination-container">
      <div id="pagination" class="tui-pagination"></div>
    </div>
    <!-- <div class="loading">
      <div class="circle circle-1"></div>
      <div class="circle circle-2"></div>
      <div class="circle circle-3"></div>
      <div class="circle circle-4"></div>
      <div class="circle circle-5"></div>
    </div>
    <div class="container"></div> -->
    <script src="./js/mainSearch.js"></script>
    <script src="./js/components/galleryApi.js"></script>
  </body>
</html>
